/* Common design */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

.primary-btn {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border: none;
    margin-bottom: 10px;
}

.secondary-btn {
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    background: transparent;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.section-title {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    text-align: center;
}

.section-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
}

/* Navigation Area */
header {
    background: #000;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.logo h1 {
    color: rgb(230, 83, 60);
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
}

.nav-links {}

.nav-links ul {
    display: flex;
    gap: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 10px;
}

.nav-links ul li {
    list-style: none;
}

.nav-links ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #fff;
    padding: 8px 20px 8px 20px;
}

.nav-links ul li a:hover {
    border-radius: 39px;
    background: rgb(230, 83, 60);
}

.active {
    border-radius: 39px;
    background: rgb(230, 83, 60);
}

.hamburger {
    display: none;
}

/* hero section */
.hero {
    background: #000;
}

.hero-container {
    display: flex;
    padding-top: 6rem;
    gap: 200px;
    align-items: center;
}

.right-side {
    position: relative;
}

.right-side .box-1 {
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 20px;
    top: 80%;
    left: 0;
    display: flex;
    gap: 10px;
}
.box-1 .one{
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;

}
.right-side .box-2 {
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 20px;
    top: 40%;
    right: 0;
}

.box-1 h4 {
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.right-side .box-text {
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.box-2 h4 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
}

.hero-container .left-side h1 {
    color: rgb(255, 255, 255);
    font-size: 5rem;
    font-weight: 900;
    line-height: 120%;
}

.hero-container .left-side p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.hero-container .left-side h1 .italic-text {
    font-style: italic;
    font-weight: 300;
}

/* habits are */
.habits {
    background: #000;
    padding-top: 100px;
}

.habit-container {
    display: flex;
    gap: 20px;
}

.habit {
    margin-top: 50px;
}

.habit img {
    width: 100%;
    border-radius: 50%;
}

.habit h4 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 10px;
}

.habit p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
    margin-top: 10px;
}

/* run and extra area */
.card {
    background: #000;
    padding: 100px;
}

.card-container {
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
    padding: 40px;
    align-items: center;
    gap: 100px;
}

.card-container .card-left-side h2 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
    margin-bottom: 20px;
}

.card-container .card-left-side p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-bottom: 20px;
}

.card-right-side img {
    width: 100%;
    border-radius: 18px;
}

/* BM calculator area */
.bm-cal {
    padding: 100px;
}

.bm-cal h2 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
}

.BM {
    background: rgb(34, 34, 34);
    padding: 50px 0;
}

.bm-cal p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 10px;
}

.bm-container {
    padding-top: 80px;
    display: flex;
    gap: 100px;
    align-items: center;
}

.chart h3 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
}

.chart table,
th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 20px;
}

.chart table th {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}

.chart table td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
}

.calculator h3 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 15px;
}

.calculator p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

form input,
select {
    border-radius: 8px;
    padding: 12px 40px 12px 20px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    margin-bottom: 10px;
}

form select {
    color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

/* our-team */
.our-team {
    background: #000;
    padding: 100px 0;
}

.members {
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    margin-top: 50px;
}

.member {}

.member img {
    width: 100%;
    height: 100%;
    border-radius: 18px;

}

.copy {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 20px;
}

/* footer */
.footer {
    background: #1A1A1A;
    padding: 100px 0;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    padding: 50px 0;
}

.company-details p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin: 20px 0px;
}

.get-start-title {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    margin: 39px 0px;
}

.links a {
    display: block;
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    font-weight: 400;
    line-height: 120%;
    margin: 10px;
    text-decoration: none;
}

.footer hr {
    color: rgba(255, 255, 255, 0.2);
}

/* Responsive for small device */
@media screen and (max-width: 576px) {
    .nav-links ul {
        display: none;
    }

    .hamburger {
        display: block;
        font-size: 24px;
        color: #fff;
    }

    .hero-container {
        flex-direction: column;
    }

    .habit-container {
        flex-direction: column;
    }

    .card-container {
        flex-direction: column;
    }

    .bm-cal {
        padding: 0;
    }

    .bm-container {
        flex-direction: column;
    }

    .card {
        padding: 0px;
    }

    .members {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-container {
        grid-template-columns: repeat(1, 1fr);
    }
}